<?xml version="1.0"?>
<config>
    <modules>
        <SoftwareKeep_HomePopup>
            <version>0.1.0</version>
        </SoftwareKeep_HomePopup>
    </modules>
    <global>
        <helpers>
            <homepopup>
                <class>SoftwareKeep_HomePopup_Helper</class>
            </homepopup>
        </helpers>
        <blocks>
            <homepopup>
                <class>SoftwareKeep_HomePopup_Block</class>
            </homepopup>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <homepopup>
                    <file>home_popup.xml</file>
                </homepopup>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>SoftwareKeep_HomePopup.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
</config> 